.header {
    background: #fff;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__inner {
    padding: 20px 15px;
    max-width: 500px;
}

.header__logo {
    margin: 0 auto;
    color: #ff9d00c0;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav {
    align-items: center;
    justify-content: space-between;
    float: right;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    position: absolute;
    right: 50px;
    padding: 5px 20px;
    align-items: center;
    border: 2px solid #fcd4aa;
    background-color: rgba(254, 213, 174, 0.435);
    color: #fcd4aa;
    font-size: 16px;
    cursor: pointer;

}